/*work sans font from google font*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,400;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;

}

img {
    max-width: 100%;
}

body{
margin: 0;

}
.container {
    width: 1440px;
    margin: 0 auto;
}
header {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0 9px;
}
.header-title {
    font-size: 37px;
    font-weight: 800;
    font-family: sans-serif;
    cursor: pointer;
}
span{
    color: #FF42A5;
    font-family: sans-serif;
}
.nav-header ul {
    display: flex;
    gap: 15px;
    align-items: center;
}
.nav-header li{
  list-style: none;
  margin: 9px;
}
.nav-header a{
    text-decoration: none;
    color: #3C354F;
    font-size: 17px;
}
.nav-background {
    background: #ddd;
    border-radius: 9px;
}
.nev-icon{
    font-size: 30px;
}
i#nav-icon {
    margin: 5px;
   
}
.fa-brands.fa-youtube{
    color: red;
    
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner-title {
    font-weight: 800;
    font-size: 37px;
    font-family: sans-serif;
    margin-bottom: -19px;
}
.style{
    font-weight: 800;
    font-size: 4rem;
    font-family: sans-serif;
    color: #F948B2;
    margin-bottom: -15px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-style h4{
     
        line-height: 6px;
    
}
.banner-button {
    margin-top: 43px;
}
.banner-button a {
    padding: 15px 29px;
    background: #4EC5F7;
    color: #fff;
    border-radius: 31px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    
   
}

.banner-section {
    position: relative;
    padding: 48px 0;
    z-index: 1;
}

.banner-section:before {
    content: "";
    position: absolute;
    left: 0;
    background: url('../images/banner-bg-illustration.png');
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left;
    z-index: -1;
    
}

#button{
    background-color: #F948B2;;
}
img.banner-image {
    width: 45%;
}
.we-are-gamer-section {
    background: #caafe71a;
    margin-top: 12px;
}
.we-are-gamer-banner {
    display: flex;
}

.we-are-gamer {
    padding: 8px 0 8px 66px;
    text-align: right;
}

.we-are-gamer-title {
    color: #FF42A5;
    font-size: 38px;
    font-family: sans-serif;
}

.we-are-gamer-description {
    color:rgb(100, 76, 76, 0.77);
    font-size: 13px;
    margin-bottom: 37px;
}
.btn {
    padding: 15px 30px;
    background: #FF42A5;
    text-decoration: none;
    border-radius: 30px;
    color: #fff;
    font-family: sans-serif;
}
.we-are-gamer-h6 {
    font-size: 14px;
    color:rgb(100, 76, 76, 0.77);
    margin-bottom: 18px;
}
.we-are-gamer-h3 {
    color:rgb(100, 76, 76, 0.77);
}

.online-game-title {
    text-align: center;
    margin-bottom: 61px;
    padding-top: 70px;
}


.online-game-video {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.online-video {
    width: 342px;
}

.online-video :hover{
    border: 2px solid #F948B2;
    border-radius: 16px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.60) 0% rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

}

.online-game-video-title {
    font-family: sans-serif;
    font-size: 33px;
    font-weight: 800;
}
 span1{
    font-family: sans-serif;
    font-size: 33px;
    font-weight: 800;
    color: #FF42A5;;
}
.online-game-video-description {
    font-size: 13px;
}


.play-instant-downoad {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.play-instant-title {
    text-align: right;
    flex-basis: 40%;
}
img.play-image {
    /* width: 50%; */
}

.image-area {
    position: relative;
    flex-basis: 44%;
}

img.play-short-image {
    position: absolute;
    bottom: -95px;
    left: -140px;
}



section.main-section {
    margin-top: 12%;
}
.main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 67px;
    flex-flow: row wrap;
    padding: 0 0 80px;
}


.main {
    display: flex;
    align-items: center;
    gap: 16px;
   
}




.main:hover{
    border: 1px solid #FF42A5;
    color: #FF42A5;
    padding: 0px 5px;
    border-radius: 37px;
}
 /* footer style*/


 .footer-section {
    background: #0B0223;
    height: 636px;
    height: 636px;
}
.header-titlee {
    font-size: 37px;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
}
 .footer {
    text-align: center;
    padding-top: 6%;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f0f8ff82;
}

.footer-gap a{
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 18px


}

.footer-ul{
    gap: 33px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    font-size: 22px;
    color: #fff;
    margin-bottom: 43px;
}
.fa-brands.fa-twitter{
    color: #fff;
}
.fa-brands.fa-facebook{
    color: #fff;
}
.fa-brands.fa-apple{
    color: #fff;
}
.footer-bottom {
    color: #e6eff775;
    font-size: 12px;
}




img.game-image :hover{
    border: 2px solid #F948B2;
    border-radius: 16px;
    background: linear-gradient(0deg,rgba(0,0,0,0.60) 0% rgba(0,0,0,0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}






/* responsive media queriya mobile*/

@media screen and (max-width: 576px) {

    .container{
        width: 100%;
    }
    .header, .nav-header ul,
     .banner,.we-are-gamer-banner
     ,.online-game-video
      {
        flex-direction: column;
    }
    .play-instant-downoad {
        flex-direction: column;
    }

    .online-game-video {
        display: block;
    }
    .online-video {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    
    img.banner-image {
        flex-direction: column-reverse;
    }


    img.play-short-image {
        bottom: -105px;
        left: -7px;
    }

    .we-are-gamer {
        padding: 20px;
        text-align: center;
    }

    .main-banner {
        padding: 150px 0 80px;
    }
 
}
/* responsive  media qureya tabelet*/
@media screen and (min-width: 576px) and (max-width: 960px){
    .container{
        width: 100%;
    }

    header{
        margin: 40px;
    }
    .banner{
        padding: 20px;
        margin: 50px;
    }
    .we-are-gamer-banner{
        flex-direction: column;
    }
    .we-are-gamer{
        text-align: center;
        margin-top: 58px
    }
    .online-game-video {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 104px;
    }

    .play-instant-downoad {
        margin: 60px;
    }
    .main-banner{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 96px;
        padding-top: 66px;

    }
    
}